<div style="background-color:rgb(255, 213, 239)">
  <div>
          <div style="margin-top:30px;">
          <hr />
         <img style="height:30%" src="assets/imag.png" />
         <hr />
        </div>
          <div class="row g-5" style="margin-top:50px;display:flex;flex-direction: column;justify-content: center;align-items: center;">
            <div align="center" style="width:50%;" class="col-sm-12">
              <div class="card">
                <div class="card-body" style="box-shadow:10px 1px 50px rgba(0, 0, 0, 0.24)">
                  <h2 class="card-title">Loan Details</h2>
                  <i><h5 class="card-text">This page will give you the details about loan scheme and further details about choosed loan.</h5></i>
                  <a href="#loan" class="btn btn-primary"  routerLink="/manloan" routerLinkActive="active-link">LOANS</a>
                </div>
              </div>
            </div>
            <div align="center"  style="width:50%;" class="col-sm-12">
              <div  class="card">
                <div class="card-body" style="box-shadow:10px 1px 50px rgba(0, 0, 0, 0.24)">
                  <h2 class="card-title">Savings Details</h2>
                  <i><h5 class="card-text">This option will help you to check the details about your savings.</h5></i>
                  <a href="#" class="btn btn-primary" routerLink="/view" routerLinkActive="active-link">Check</a>
                </div>
              </div>
            </div>
            <div  align="center"  style="width:50%" class="col-sm-12">
              <div class="card">
                <div class="card-body" style="box-shadow:10px 1px 50px rgba(0, 0, 0, 0.24)">
                  <h2 class="card-title">Loan Status</h2>
                  <i><h5 class="card-text">To View the loan status.</h5></i>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
          
          
  
</div>

<div align="right" style="margin-right:150px;margin-bottom:40px">
<a class="btn btn-primary" routerLink="/user" style="margin-right:-8rem">Go Back</a>
</div>